<!DOCTYPE html>
<html>
  <head>
    <title>Samuel Toh</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style_test.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <meta name="description" content="About me">

    <meta name="keywords" content="samueltoh">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".toggle-menu").click(function(){
                $("this").toggleClass("active");
                $("#menu").toggleClass("open");
            });
        });
    </script>
    </head>

    <body>
        <div id="container">
            <header>

                <h1 id="name"><a href="https://dodobirdie98.pythonanywhere.com/">Samuel Toh</a></h1>
                                <nav class="nav">
                    <button class="toggle-menu">
                    <span></span>
                    </button>
                </nav>
                <div id="tagline">undergraduate student at georgia tech</div>
                <hr/>



            </header>



    <div id="menu" class="">
      <nav class="main-nav">
        <ul>
          <li>
            <a href="{{ url_for('projects') }}">
              Projects
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">
              About
            </a>
          </li>

          <li>
            <a href="/static/resume.pdf">
              Resume
            </a>
          </li>
            <li>
            <a href="mailto:stoh6@gatech.edu">
              Contact
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div id="content">

        {% block content %}{% endblock %}
        <hr/>

        <div class="container" style="display:block;float:right">
            <small>Icons by <a href="https://icons8.com/">Icons8</a></small>
            <a href="mailto:stoh6@gatech.edu"><img src="/static/mail.png" style="border:0; display:inline-block"></a>
            <a href="https://github.gatech.edu/stoh6"><img src="/static/github.png" style="border:0; display:inline-block"></a>
            <a href="https://www.linkedin.com/in/stoh6/"><img src="/static/linkedin.png" style="border:0; display:inline-block"></a>
        </div>
    </div>

    </div>
</body>


  </html>