
{% extends "base.html" %}

{% block content %}
    <style>
        p {
          text-indent: 2em;
        }
    </style>

    <img src="/static/download.png" style="
    border: 1px solid #333;
    border-radius: 4px;
    max-width: 128px;
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;"
    >

    <p>Hi, I am Samuel Toh, a third year computer science student of the <a href="http://gatech.edu/">Georgia Institute of
    Technology</a>.
    </p>

    <p>I interned at <a href="https://www.buckleup.com/">Buckle</a> for three months in Summer 2019, where I worked as a Product Development
    Specialist Intern, using professional statistical techniques to collect, analyze, and interpret data queried from PostgreSQL database.
    In addition, I implemented predictive analysis trends utilizing Python and libraries (Bokeh, CalMap,
    GeoPandas, Matplotlib, Pandas). I also built an under-development website from scratch using <a href="https://www.djangoproject.com/">
    django</a> that serves as a dashboard for business analytical purposes.
    </p>

    <p>I am actively seeking for opportunities in web development and back-end development. My programming skills are Java, Python, and C. I have
    experience with MySQL, PostgreSQL and Selenium.</p>

{% endblock %}

