{% extends "base.html" %}

{% block content %}
          <style>
p {
  text-indent: 2em;
}
img {
  border: 1px solid #333;
  border-radius: 4px;
  max-width: 128px;
  display: block;
  margin: 0 auto;
}
</style>
<p>
    1. Space Trader (Web Application): Developed with a team of five to design and develop a video game about space travel and exploration. This application
    allows players to gain credits(money), explore the universe and trade in foreign markets. It was built using Python Flask framework, along with HTML, CSS, and
    jQuery.
</p>
<p>
    2. Atlanta Beltline (Desktop Application): Developed with a team of five to simulate a system that stores information about the Atlanta Beltline sites and events. The
    application keeps track of the visitors who visits sites and events and the users who take transits that connect sites. It was built using JavaFX, with JDBC
    to interact with MySQL.
</p>
<p>
    3. This website: Built using Python Flask framework, hosted on <a href="https://www.pythonanywhere.com/">PythonAnywhere.com</a>.
</p>
{% endblock %}